@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .menu-icon {
    @apply  p-2 text-4xl bg-gradient-to-bl from-primary-200 to-primary-100 text-primary-700 rounded-lg
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Badr";
  min-height: 100vh;  
  direction: rtl;
  scroll-behavior: smooth;
}
